<div class="fixed-left-side-body">
  <div class="profile">
    <div class="profile-image center-align">
      <img src="assets/images/profile-iamdev-second.jpg" alt="Image">
    </div>
    <!-- /.profile-image -->

    <div class="profile-name center-align">
      <h1 class="user-name">Tanawat Pintongpan</h1>
      <p>
        <span class="photoshop-color">Front End Developer</span> OF 3DS INTERACTIVE
      </p>
    </div>
    <!-- /.profile-name -->

    <ul class="social-btn">
      <li *ngFor="let item of SocialNetworks">
        <a [href]="item.link" target="_blank">
          <i [class]="item.icon" aria-hidden="true"></i>
        </a>
      </li>
    </ul>

    <div class="discription clearfix">
      <h2 class="title mb-30">what's in my mind</h2>
      <p>
        We can develop and design anything beyond your ima gination. About our work, we don’t say anything bec ause
        our work speaks. For more, you can ask our clie nts and they will tell you how much satisfied they are with
        our services. So, what are you waiting for?
      </p>
    </div>
    <!-- /.discription -->
    <div class="cv-btn mb-30">
      <a href="#!" class="custom-btn waves-effect waves-light">
        <i class="fa fa-download" aria-hidden="true"></i> Download cv
      </a>
    </div>
    <div class="cv-btn">
      <a href="#!" class="custom-btn waves-effect waves-light">
        <i class="fa fa-download" aria-hidden="true"></i> Download Resume
      </a>
    </div>
  </div>
  <!-- /.profile -->
</div>
<!-- /.fixed-left-side-body -->