<div data-scroll='3' class="education-section sec-p100-bg-bs mb-30 clearfix" id="education">

  <div class="Section-title">
    <h2>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      Education
    </h2>
    <span>education</span>
    <p>
      Coming Soon...
    </p>
  </div>
  <!-- /.Section-title -->

  <ul class="accordion collapsible" data-collapsible="accordion">

    <li>
      <div class="accordion-header acco-clr2 collapsible-header active">
        <span class="icon">
          <i class="fas fa-pencil-ruler" aria-hidden="true"></i>
        </span>
        <p>
          <strong>Bachelor Degree</strong> - Nakhon Si Thammarat Rajabhat University , 2011 - 2016
        </p>
      </div>
      <div class="accordion-body collapsible-body">
        <span>
          Successfully passed Computer Science’ on year 2011 - 2016 scoring GPA 2.23 out of 4.00.
        </span>
      </div>
    </li>

    <li>
      <div class="accordion-header acco-clr3 collapsible-header active">
        <span class="icon">
          <i class="fas fa-pencil-ruler" aria-hidden="true"></i>
        </span>
        <p>
          <strong>Vocational Certificate</strong> - Nakhon Si Thammarat Technical College , 2008 - 2010
        </p>
      </div>
      <div class="accordion-body collapsible-body">
        <span>
          Successfully passed Electronics’ on year 2008 - 2010 scoring CGPA 3.00 out of 4.00.
        </span>
      </div>
    </li>

  </ul>

</div>
<!-- /.education-section -->